@import '@/styles/base';

// Main project container
.project {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  
  .content { // Card & images container
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 800px;
    margin: 2rem 0;
  
    &.swapped { flex-direction: row-reverse; }
  
    .left {
      max-width: 500px;
      padding: 1rem;
      background: $bg-color-2;
      border: 1px solid $border-color-2;
      border-radius: 1rem;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        h2 { margin: 0; font-size: 1.5rem; color: $text-color-1; }
        
        .links {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          
          a {
            color: $text-color-3;
            fill: $text-color-3;

            &:hover { color: $text-color-1; fill: $text-color-1; }

            svg { height: 1rem; }
          }
        }
      }
    }
  }
}

// Project tags component
.projectTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  .tag {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.95rem;
    color: $text-color-1;
  }
}

// Project image gallery component
.projectImages {
  flex: 1;
  width: 300px;
  height: 150px; // Needed or else breaks on vertical view
  position: relative;
  // background: red;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 100%;
    border: 1px solid $border-color-1;
    border-radius: 0.5rem;
    opacity: 0;
    transition: 300ms ease-in-out;

    &.show {
      opacity: 1;
    }
  }
}

// Project lines
.projectLineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    color: $bg-color-3;
    background: $text-color-1;
    border-radius: 50%;
    cursor: default;
  }

  .line, .lineInvisible {
    width: 3px;
    height: 100%;
    background: $text-color-2;
  }

  .lineInvisible { opacity: 0; }
}