@import '@/styles/base';

// Main navbar header component
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(20, 20, 20);
  background: linear-gradient(180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 30, 1) 50%,
    rgba(20, 20, 20, 1) 100%
  );
  border-bottom: 1px solid $border-color-1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;

  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
  }

  #left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem;
    color: var(--text-color-2);
    font-size: 1rem;
    cursor: default;

    img { border-radius: 50%; }
  }
}

// Navbar links component
#navbarLinks {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.75rem 0.5rem;
    color: $text-color-2;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.3s;

    &:hover { color: $text-color-1; }
    &.active { color: $text-color-1; }
  }

  // Dynamic underline element
  .underline {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 2.5rem;
    height: 2px;
    background: $theme-color-1;
    opacity: 0; // Hide by default, changed in JS
    transition: none; // Needs to be instant at first, change in JS
  }
}