// Animated items list component
.itemsList {
  transition: 500ms ease-in-out;

  // Each child has opacity of 0, and each takes 100ms longer to appear
  // Will show when parent has .show class

  & > * {
    opacity: 0;
    transition: 500ms ease-in-out;

    $delay: 150ms;

    
  }

  &.show {
    & > * { opacity: 1; }
  }
}